body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    #gosterge{
        font-size: 24px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


#renkDegistir{
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    
    }
 
} 

